a.out
./a.out
workspace/*.o
workspace/libft.a
workspace/libftprintf.a
workspace/tester/*
workspace/tester
workspace/libft-war-machine/*
workspace/libft-war-machine
workspace_to_submit/*
workspace_to_submit
.vscode/*
.vscode/
